@model IEnumerable<Feed_Bridge.Models.Entities.Report>

@{
    ViewData["Title"] = "التقارير";
    ViewData["ActivePage"] = "Reports";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="mb-4">قائمة التقارير</h1>
    <a asp-action="Create" asp-controller="Report" class="btn btn-primary" style="background-color:#1cba7f; color:white; border:none;">
        <i class="bi bi-plus-circle" ></i> إضافة تقرير جديد
    </a>
</div>
<div asp-validation-summary="All"></div>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>رقم التقرير</th>
            <th>العنوان</th>
            <th>الوصف</th>
            <th>الايميل</th>
            <th>التاريخ</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            foreach (var report in Model)
            {
                <tr>
                    <td>@report.Id</td>
                    <td>@report.title</td>
                    <td>@report.content</td>
                    <td>@report.Email</td>
                    <td>@report.CreatedAt.ToShortDateString()</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4" class="text-center">لا توجد تقارير</td>
            </tr>
        }
    </tbody>
</table>
